<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sade's Discography</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="lyricsearch.js" defer></script>
</head>

<body>

<div class="container-fluid" style="margin: 2em;">
    <div class="row">
        <div class="col-md-6" id="heading">
            <p>Best of Sade</p>
            <h1>Main Search</h1>
            <p>Search for songs by partial lyrics.</p>

            <div class="input-group">
                <input id="search" class="main-search form-control form-control-sm" placeholder="Search" type="textbox">
            </div>

            <div class="togghighlight">
                <p>Highlight</p>
            </div>

            <div class="album-container" id="categories">
                <% albums.forEach(album => { %>
                <div class="col-sm-4">
                    <div class="album" id="album-<%= album.album_id %>">
                        <h1><%= album.title %></h1>
                        <img style="width: 100%; height: auto;" src="<%= album.image_url %>" alt="Album image">
                        <ul class="list">
                            <% album.songs.forEach(song => { %>
                                <li class="FUTCT">
                                    <p class="songName" data-lyrics='<%= JSON.stringify(song) %>' onclick="displayLyrics('<%= song.title.replace(/'/g, '&#39;') %>', event)"><%= song.title %></p>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

        <div class="col-md-6" id="lyrics-section">
            <h1 class="lyricsbox">Song Lyrics</h1>
            <div id="lyrics-container"></div>
        </div>
    </div>
</div>

</body>
</html>
